

h2 Hello, 
h4 I am 
h1 Željko Nešić

h2 Let me introduce myself. 

section.introduction
  h3.title I am philosopher and developer 

  h4 As a Philosopher I am keen to understand working of the mind, and I am intereseted in how to reproduce it in artifical envirioment.
  h4 As a Developer I am passionate about semantic structures that arise from wisely architected software.

  p Language as a phenomena is something unites those two passions of mine.

  p Skills with programing languages is how I make money.


section.making-stuff
  p As 
    strong Myamoto Musashi 
    | have said. 

  quote If you know the Way broadly you will see it in everything. 
  h4 I put that in practise, by building high quality applications for the web and iOS. 

section  
  p Finding common optimal patterns across web and mobile applications, 
    br
    | I feel confident to take up any challenge of building high quality software. 

  h4 Enough of pump up talk, let's get concrete!

section.software
  h2.title These are the applications that I have built:

  .item 
    .desc 
      h3 Central European League
        small 2006-pres.

      
      a(href='http://www.european-league.com') 
        i.fa.fa-link 
        | www.european-league.com

      p CMS, Statistics and Player Registration System for international league of american football

      h5 
        small Stack
        | LAMP [MySQL, PHP] + Frontend
    .shots 
      a(href="img/projects/pers.png", data-lightbox="cefl")
        img(src="img/projects/pers_thumb.jpg")

      a(href="img/projects/cefl-tasa.png", data-lightbox="cefl") 
        img(src="img/projects/cefl-tasa_thumb.jpg")

      a(href="img/projects/cefl-stats.png", data-lightbox="cefl")
        img(src="img/projects/cefl-stats_thumb.jpg")

      a(href="img/projects/cefl-stats-2.png", data-lightbox="cefl")
        img(src="img/projects/cefl-stats-2_thumb.jpg")

  .item
    .desc 
      h2 Elastyc
        small 2009-2010
      
      a(href='http://www.elastyc.net/') 
        i.fa.fa-link 
        | www.elastyc.net

      p Cloud ERP, CMS, web shop builder
      p Developed dynamic form builder for easier integration with the running bussineses.
      p Integration of solution into the workflow of couple of medium-sized and one large-size company 

      h5 
        small Stack 
        | Javascript [Ajax] and MSSQL, VBScript 
    
    .shots 
      a(href="img/projects/elastyc.png", data-lightbox="elastyc")
        img(src="img/projects/elastyc_thumb.jpg")

  .item 
    .desc
      h2 Koozoo
        small 2010-2013

      a(href='http://www.koozoo.com/') 
        i.fa.fa-link 
        | www.koozoo.com

      p San Francisco Startup for social streaming of geolocated video. 
      p Built video streming solution, web and mobile applications. 
      p Our iOS app was highlighed at SXSW 2013 

      h5 
        small Worked with 
        | Python [Django], Postgres, MongoDb, RabbitMQ [WebSockets], Protobuffer 
      h5 Javascript [jQuery, KnockoutJS] and html/css
      h5 Objective-C, video streaming

    .shots 
      a(href="img/koozoo-ad.png", data-lightbox="koozoo")
        img(src="img/projects/koozoo-ad_thumb.jpg")

      a(href="img/koozoo-app.png", data-lightbox="koozoo")
        img(src="img/projects/koozoo-app_thumb.jpg")

      a(href="img/projects/koozoo-front.png", data-lightbox="koozoo")
        img(src="img/projects/koozoo-front_thumb.jpg")


  .item
    .desc 
      h3 Scuddle 
        small 2013-2014

      a(href='http://www.scuddle.com/')
        i.fa.fa-link
        | www.scuddle.com


      p San Francisco Startup for hiring kids out of college.
      p Built couple of iterations of their iOS app, now their main product. 

      h5
        small Worked with 
        | Objective-C

    .shots 
      a(href="img/projects/scuddle.png", data-lightbox="scuddle")
        img(src="img/projects/scuddle_thumb.jpg")

      a(href="img/projects/scuddle-ios.png", data-lightbox="scuddle")
        img(src="img/projects/scuddle-ios_thumb.jpg")

  .item 
    h3 DSTV
      small 2013


    p Architected and led team to build an iOS application for streaming TV content.
    p Localized on over of dozen of local flavours.

    h5 
      small Worked With
      | Objective-C, pen and paper

  .item 
    h3 Ariadne
      small 2014

    p Solution for making live events interactive on your phone. 
    p Built web vector based editor on top of Google Maps and iOS application for displaying layed out data.

    h5 
      small Stack  
      | Ruby [Rails], Postgres [PostGIS], Heroku

    h5 Typescript [Angular, SVG, Google Maps]
    h5 Objective-C, Swift
  

  .item 
    .desc
      h3 Mozzart Fantazzi
        small 2014

      a(href='http://fantazzi.mozzartsport.com/') 
        i.fa.fa-link
        | fantazzi.mozzartsport.com

      p European Champions League Fantasy Football for local betting house
      p In two months with the team of two we devised full application used by tens of thousands players 


      h5 
        small Stack
        | Python [Django], Postgres, Redis, Heroku

      h5 Livescript [Angular], Jade, Stylus

    .shots 
      a(href="img/projects/fantazzi-formacija.png", data-lightbox="fantazzi")
        img(src="img/projects/fantazzi-formacija_thumb.jpg")

      a(href="img/projects/fantazzi-naslovna.png", data-lightbox="fantazzi")
        img(src="img/projects/fantazzi-naslovna_thumb.jpg")

      a(href="img/projects/fantazzi-tim.png", data-lightbox="fantazzi")
        img(src="img/projects/fantazzi-tim_thumb.jpg")

section.about-me 
  h1 Nice to meet you. 
  img.popara(src="img/popara.jpg")
  
  h2 This website is done built in Jade and Stylus in 4 hours using 
    a(href="http://roots.cx/") Roots
    | , no prior content prepared.

  h3 That is ninjitsu in practice. 

  h3 I want to live on different places of the planet with my wife Sanja. And we want to bring our cat Megi and dog Lara with us. 

  h3 I do few side projects in free time 



section.side-projects
  h3 Side 


section.contact
  h2 These are my social/coding outlets. 

  p
    span GitHub  
    a(href="https://github.com/popara", target="_blank")
      i.fa.fa-github.fa-3x 
      | @popara

  p
    span StackOverflow
    a(href="https://stackoverflow.com/users/83910/popara", target="_blank")
      i.fa.fa-stack-overflow.fa-3x
      | @popara
  p
    span Twitter 
    a(href="#")
      i.fa.fa-twitter.fa-3x
      | @poparasan

  h5 And for the lolz!

  small
    span Google Plus 
    a(href="https://plus.google.com/u/0/103998615913751119248/posts", target="_blank")
      i.fa.fa-google-plus.fa-3x
      | 103998615913751119248


  h2 If you want to contact me click something of the links below. 

  p
    a(href="mailto:popara@gmail.com", target="_blank") popara@gmail.com

  p 
    span Skype
    a(href="skype:poparica?userinfo", target="_blank")
      i.fa.fa-skype.fa-3x
      | Poparica

  h1.bye Hope you have awesome rest of the day! 
  h1.bye :D


