!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")

    title= title
    link(href='http://fonts.googleapis.com/css?family=Josefin+Slab:300,400|Pacifico|Cinzel', rel='stylesheet', type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel='stylesheet', href='css/master.css')
  body
    .content
        != content

    //- add other scripts through require.js, not here
    script(data-main="js/main", src="js/require.js")
    