@import '_settings'
@import 'axis/animation'
@import 'vendor/lightbox.css'

normalize()
base()
grid()

columns = 12
total-width = 100%

body
  background: red



.cursive
  font-family: pacifico


p 
  paragraph()

h1
  fs(150px)
  letter-spacing: -10px
  margin-bottom: 5px

.title 
  margin-left: 30px


quote
  margin-left: 20px 
  border-left: 5px solid rgba(0, 0, 0, .5)
  padding-left: 20px
  font-style: italic
  padding-top: 5px
  padding-bottom: 5px

h1, h2, h3, h4, h5
  small 
    color: darken(font-color, 25%)
    fs(.7em)
    padding: 0 10px

.fa 
  fs(.7em)
  padding-right: 5px;
.fa-3x
  fs(1.5em)
  margin: 0 10px 
a
  link(color=red, style=underline)
  color: blue  

  &:visited   
    color: darken(blue, 30%)
    // link(color=blue)

section
  margin: 15px 0 0 0
  padding-top: 50px

section
  .item 
    padding: 5px
    h2, h3 
      margin-left: 30px

@media(min-width:400px)
  .content
    padding: 50px

@media(max-width:400px)
  .content 
    padding: 10px

.shots 
  padding-bottom: 60px
  
  a
    img
      border-radius: 5px
      border: 2px solid rgba(255, 255, 255, .4)
      padding: 2px
      opacity: .3

    &:hover
      img
        opacity: .9
        border-color: rgba(255, 255, 255, .9)


.popara
  min-height: 300px
  
.bye 
  line-height: 115px
  animation: bounce 2s infinite ease-in